{% extends 'base.html' %}
{% block content %}
<h3>Edit Customer</h3>
<form action="/edit_customer/{{ customer.cust_id }}" method="POST" class="w-50 mx-auto">
  <div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" value="{{ customer.name }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input type="email" name="email" value="{{ customer.email }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Phone</label>
    <input type="text" name="phone" value="{{ customer.phone }}" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Address</label>
    <textarea name="address" class="form-control">{{ customer.address }}</textarea>
  </div>
  <button type="submit" class="btn btn-success">Update</button>
</form>
{% endblock %}
